{% extends 'recipes/base.html' %}

{% block content %}
    <h1>Hello World!</h1>
    <h1>It is welcome page!</h1>
    <p>Today is {{ current_day }}</p>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'add_medicine' %}">
            <span class="glyphicon glyphicon-pencil">Добавить новое лекарство</span>
        </a>
        <a class="btn btn-default" href="{% url 'get_medicine' %}">
            <span class="glyphicon glyphicon-pencil">Посмотреть список лекарств</span>
        </a>
    {% endif %}
{% endblock %}
